RewriteEngine On 
RewriteRule ^payment/receive?$ ReceivePaymentEndpoint.php [NC,L]
RewriteRule ^register/initialize?$ RegistrationInitializeEndpoint.php [NC,L]
RewriteRule ^register/submit?$ RegistrationSubmitEndpoint.php [NC,L]